In [127]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
import lightgbm as lgb
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier



#import datetime
#import random
#import os
#for dirname, _, filenames in os.walk('/kaggle/input'):
#    for filename in filenames:
#        print(os.path.join(dirname, filename))

In [128]:
df = pd.read_excel('D:\MDP\Effects of Depression  Anxiety on Academic Performance among the students (respuestas) (1).xlsx')

In [129]:
df.head()

,Gender:,Age:,Educational Level,Little interest or pleasure in doing things,"Feeling down, depressed, or hopeless","Trouble falling or staying asleep, or sleeping too much",Feeling tired or having little energy,Poor appetite or overeating,Feeling bad about yourself or that you are a failure or not have let yourself or your family down,"Trouble concentrating on things, such as reading the newspaper or watching television",Moving or speaking so slowly that other people could have noticed Or being so restless that you have been moving around a lot more than usual,Thoughts that you would be better off dead or of hurting yourself in some way,Do you have part-time or full-time job?,Which of the following best describes your term-time accommodation?,How many hours do you spend studying each day?,"How many of the electronic gadgets (e.g. mobile phone, computer, laptop, PSP, PS4, Wii, etc.) do you have in your home or your student accommodation/mess/hall?",How many hours do you spend on social media per day?,Your Last Semester GPA:
0,Male,19 to 24 years,College - Bachelor's,3,2,4,4,3,3,4,3,2,Part time,Home (with parents),2 - 4 hours,4 - 6,More than 4 Hours,2.30
1,Male,19 to 24 years,College - Bachelor's,2,1,2,1,1,1,1,1,1,Part time,University hall of residence,1 - 2 hours,1 - 3,1 - 2 Hours,2.70
2,Female,18 years or less,High School,2,2,2,2,1,1,2,2,1,No,Home (with parents),1 - 2 hours,1 - 3,More than 4 Hours,2.97
3,Female,18 years or less,High School,3,1,2,3,3,1,1,1,2,No,Home (with parents),1 - 2 hours,More than 6,2 - 4 Hours,2.74
4,Male,18 years or less,High School,1,2,2,3,1,1,3,1,1,Part time,Home (with parents),1 - 2 hours,4 - 6,More than 4 Hours,3.37

In [130]:
df.dtypes

Gender:                                                                                                                                                            object
Age:                                                                                                                                                               object
Educational Level                                                                                                                                                  object
Little interest or pleasure in doing things                                                                                                                         int64
Feeling down, depressed, or hopeless                                                                                                                                int64
Trouble falling or staying asleep, or sleeping too much                                                                                                             int64
Feeling tired or having little energy                                                                                                                               int64
Poor appetite or overeating                                                                                                                                         int64
Feeling bad about yourself or that you are a failure or not have let yourself or your family down                                                                   int64
Trouble concentrating on things, such as reading the newspaper or watching television                                                                               int64
Moving or speaking so slowly that other people could have noticed Or being so restless that you have been moving around a lot more than usual                       int64
Thoughts that you would be better off dead or of hurting yourself in some way                                                                                       int64
Do you have part-time or full-time job?                                                                                                                            object
Which of the following best describes your term-time accommodation?                                                                                                object
How many hours do you spend studying each day?                                                                                                                     object
How many of the electronic gadgets (e.g. mobile phone, computer, laptop, PSP, PS4, Wii, etc.) do you have in your home or your student accommodation/mess/hall?    object
How many hours do you spend on social media per day?                                                                                                               object
Your Last Semester GPA:                                                                                                                                            object
dtype: object

In [131]:
column_mapping = {
    "GenderL": "Gender",
    "Age": "Age",
    "Educational Level": "Education",
    "Little interest or pleasure in doing things": "Interest",
    "Feeling down, depressed, or hopeless": "Depression",
    "Trouble falling or staying asleep, or sleeping too much": "Sleep",
    "Feeling tired or having little energy": "Energy",
    "Poor appetite or overeating": "Appetite",
    "Feeling bad about yourself or that you are a failure or not have let yourself or your family down": "Self_Worth",
    "Trouble concentrating on things, such as reading the newspaper or watching television": "Concentration",
    "Moving or speaking so slowly that other people could have noticed Or being so restless that you have been moving around a lot more than usual": "Restlessness",
    "Thoughts that you would be better off dead or of hurting yourself in some way": "Suicidal_Thoughts",
    "Do you have part-time or full-time job?": "Job",
    "Which of the following best describes your term-time accommodation?": "Accommodation",
    "How many hours do you spend studying each day?": "Study_Hours",
    "How many of the electronic gadgets (e.g. mobile phone, computer, laptop, PSP, PS4, Wii, etc.) do you have in your home or your student accommodation/mess/hall?": "Gadgets_Count",
    "How many hours do you spend on social media per day?": "Social_Media_Hours",
    "Your Last Semester GPA:": "GPA"
}

# Rename the columns using the dictionary mapping
df.columns = df.columns.str.strip()

df = df.rename(columns=column_mapping)

In [132]:
df['GPA']

0      2.30
1      2.70
2      2.97
3      2.74
4      3.37
       ...
347     4.0
348     4.0
349    3.35
350    3.35
351    2.30
Name: GPA, Length: 352, dtype: object

In [133]:
unique_values = df['Education'].unique()

# Print the unique values
for value in unique_values:
    print(value)

College - Bachelor's
High School
Master

In [134]:
i=0
for val in df['GPA']:
  if float(val)> 4.0:
    df['GPA'][i]=5
    i=i+1
  elif float(val)>3.5:
    i=i+1
    df['GPA'][i]=4
  elif float(val)>3.0:
    df["GPA"][i]=3
    i=i+1
  elif float(val)>2.0:
    df['GPA'][i]=2
    i=i+1
  elif float(val)>1.0:
    df['GPA']=1.0
    i=i+1

C:\Users\rohit\AppData\Local\Temp\ipykernel_17924\2321030610.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GPA'][i]=2
C:\Users\rohit\AppData\Local\Temp\ipykernel_17924\2321030610.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["GPA"][i]=3
C:\Users\rohit\AppData\Local\Temp\ipykernel_17924\2321030610.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GPA'][i]=4

In [135]:
df['GPA'][0]

2

In [136]:
df.head()

,Gender:,Age:,Education,Interest,Depression,Sleep,Energy,Appetite,Self_Worth,Concentration,Restlessness,Suicidal_Thoughts,Job,Accommodation,Study_Hours,Gadgets_Count,Social_Media_Hours,GPA
0,Male,19 to 24 years,College - Bachelor's,3,2,4,4,3,3,4,3,2,Part time,Home (with parents),2 - 4 hours,4 - 6,More than 4 Hours,2
1,Male,19 to 24 years,College - Bachelor's,2,1,2,1,1,1,1,1,1,Part time,University hall of residence,1 - 2 hours,1 - 3,1 - 2 Hours,2
2,Female,18 years or less,High School,2,2,2,2,1,1,2,2,1,No,Home (with parents),1 - 2 hours,1 - 3,More than 4 Hours,2
3,Female,18 years or less,High School,3,1,2,3,3,1,1,1,2,No,Home (with parents),1 - 2 hours,More than 6,2 - 4 Hours,2
4,Male,18 years or less,High School,1,2,2,3,1,1,3,1,1,Part time,Home (with parents),1 - 2 hours,4 - 6,More than 4 Hours,3

In [137]:


for column in df.columns:
     df[column]=df[column].astype(str)

In [138]:
label_encoder = LabelEncoder()
for column in df.columns:
   # if df[column].dtype == object:
        df[column] =label_encoder.fit_transform(df[column])

In [139]:
df.head()

,Gender:,Age:,Education,Interest,Depression,Sleep,Energy,Appetite,Self_Worth,Concentration,Restlessness,Suicidal_Thoughts,Job,Accommodation,Study_Hours,Gadgets_Count,Social_Media_Hours,GPA
0,1,1,0,2,1,3,3,2,2,3,2,1,3,0,1,1,2,0
1,1,1,0,1,0,1,0,0,0,0,0,0,3,2,0,0,0,0
2,0,0,1,1,1,1,1,0,0,1,1,0,2,0,0,0,2,0
3,0,0,1,2,0,1,2,2,0,0,0,1,2,0,0,2,1,0
4,1,0,1,0,1,1,2,0,0,2,0,0,3,0,0,1,2,1

In [140]:
df.nunique()

Gender:               2
Age:                  3
Education             3
Interest              4
Depression            4
Sleep                 4
Energy                4
Appetite              4
Self_Worth            4
Concentration         4
Restlessness          4
Suicidal_Thoughts     4
Job                   4
Accommodation         3
Study_Hours           3
Gadgets_Count         4
Social_Media_Hours    4
GPA                   4
dtype: int64

In [141]:
columns_to_remove = ['Appetite','Suicidal_Thoughts','Accommodation']

 #Remove the columns
df = df.drop(columns_to_remove, axis=1)

In [142]:
df.head()

,Gender:,Age:,Education,Interest,Depression,Sleep,Energy,Self_Worth,Concentration,Restlessness,Job,Study_Hours,Gadgets_Count,Social_Media_Hours,GPA
0,1,1,0,2,1,3,3,2,3,2,3,1,1,2,0
1,1,1,0,1,0,1,0,0,0,0,3,0,0,0,0
2,0,0,1,1,1,1,1,0,1,1,2,0,0,2,0
3,0,0,1,2,0,1,2,0,0,0,2,0,2,1,0
4,1,0,1,0,1,1,2,0,2,0,3,0,1,2,1

In [143]:
X = df.drop(['Depression','GPA','Sleep'], axis=1)
y = df['Depression']

In [144]:
def binary_mapping(label):
    if label <= 1:
        return 0
    else:
        return 1

# Apply the binary mapping to the depression class labels
y = np.array([binary_mapping(label) for label in y])

In [145]:
rf = RandomForestClassifier()

# Fit the classifier to the data
rf.fit(X, y)

# Get feature importances
importances = rf.feature_importances_

# Print feature importances
for feature, importance in zip(X.columns, importances):
    print(f"{feature}: {importance*100000}")

Gender:: 1580.143692703285
Age:: 4875.902148619257
Education: 4382.851586314269
Interest: 11510.318947138601
Energy: 13040.156101786057
Self_Worth: 23239.904289073333
Concentration: 11148.647369854332
Restlessness: 8036.626282493093
Job: 6394.265173834656
Study_Hours: 5118.985123751798
Gadgets_Count: 5456.110448673106
Social_Media_Hours: 5216.088835758218

In [146]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

#SVM

In [147]:
svm_model = SVC(kernel='poly',degree=3)
svm_model.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = svm_model.predict(X_test)

In [148]:
accuracy_score(y_test,y_pred)*100

80.55555555555556

In [149]:
report = classification_report(y_test, y_pred)
print("Accuracy Report:")
print(report)

Accuracy Report:
              precision    recall  f1-score   support

           0       0.88      0.85      0.87        27
           1       0.60      0.67      0.63         9

    accuracy                           0.81        36
   macro avg       0.74      0.76      0.75        36
weighted avg       0.81      0.81      0.81        36

#Logistic regression

#RandomForestClassifier

In [150]:
rf_classifier = RandomForestClassifier()

# Train the classifier
rf_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_classifier.predict(X_test)

report = classification_report(y_test, y_pred)
print("Accuracy Report:")
print(report)

Accuracy Report:
              precision    recall  f1-score   support

           0       0.88      0.85      0.87        27
           1       0.60      0.67      0.63         9

    accuracy                           0.81        36
   macro avg       0.74      0.76      0.75        36
weighted avg       0.81      0.81      0.81        36

#Gradient boosting

In [151]:
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

# Set the hyperparameters for XGBoost
params = {
    'objective': 'multi:softmax',  # Multiclass classification
    'num_class': 4,      # Number of classes
    'max_depth': 3,                # Maximum depth of each tree
    'eta': 0.1,                    # Learning rate
    'gamma': 0.1,                  # Minimum loss reduction required to make a further partition on a leaf node
}

# Train the XGBoost classifier
xgb_model = xgb.train(params, dtrain)

# Make predictions on the test set
y_pred = xgb_model.predict(dtest)

# Convert predicted labels to integers
y_pred = y_pred.astype(int)

In [152]:
report = classification_report(y_test, y_pred)
print("Accuracy Report:")
print(report)

Accuracy Report:
              precision    recall  f1-score   support

           0       0.88      0.85      0.87        27
           1       0.60      0.67      0.63         9

    accuracy                           0.81        36
   macro avg       0.74      0.76      0.75        36
weighted avg       0.81      0.81      0.81        36

#Light GBM

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the LightGBM dataset
train_data = lgb.Dataset(X_train, label=y_train)

# Set the hyperparameters for LightGBM
params = {
    'objective': 'binary',
    'metric': 'binary_logloss',
    'boosting_type': 'gbdt',
    'num_leaves': 31,
    'learning_rate': 0.05,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.8,
    'bagging_freq': 5,
    'verbose': 0
}

# Train the LightGBM model
num_rounds = 100
lgb_model = lgb.train(params, train_data, num_rounds)

# Make predictions on the test set
y_pred = lgb_model.predict(X_test)
y_pred = (y_pred > 0.5).astype(int)

In [153]:
import pickle 
pickle_out=open("classifier.pk1","wb")
pickle.dump(svm_model,pickle_out)
pickle_out.close()

In [154]:
df.columns

Index(['Gender:', 'Age:', 'Education', 'Interest', 'Depression', 'Sleep',
       'Energy', 'Self_Worth', 'Concentration', 'Restlessness', 'Job',
       'Study_Hours', 'Gadgets_Count', 'Social_Media_Hours', 'GPA'],
      dtype='object')

In [155]:
predict=svm_model.predict([[0, 1, 0,0,
       1, 1,3,2,
        2,1,1,1]])

c:\python3.10\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [156]:
X_train

,Gender:,Age:,Education,Interest,Energy,Self_Worth,Concentration,Restlessness,Job,Study_Hours,Gadgets_Count,Social_Media_Hours
56,1,2,2,1,1,0,1,0,1,1,0,0
152,0,1,0,1,2,2,3,3,0,1,1,2
30,0,1,0,1,1,2,1,0,2,2,0,2
45,0,1,2,1,3,0,3,2,1,0,0,2
101,0,1,0,0,3,3,3,0,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
71,0,2,2,0,1,0,0,0,1,2,1,1
106,0,2,0,1,1,1,1,1,0,0,0,0
270,0,1,0,1,3,3,2,1,2,0,1,2
348,0,2,0,3,1,1,1,1,0,2,0,2
102,0,1,0,1,1,2,1,0,3,1,0,2

In [157]:
predict

array([0])